<%= render 'shared/content_title', title: "Business Profile: #{@business.name}" %>

<div class="well">
  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @business.name %></dd>
    <dt>Description:</dt>
    <dd><%= @business.description %></dd>
  </dl>
</div>

<!-- reviews go here -->